<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/globalRes/globalStyling.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/pages/error/styling.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="center">
    <div class="background"></div>
    <div id="errorBox">
        <h2>SORRY</h2>
        <p>This is my personal website. so it's mostly for playing around with, and testing new projects.
            Might be it bugged out while i was trying something new :(</p>
    </div>
</body>
</html>