<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/pages/index/styling.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/globalRes/globalStyling.css}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/pages/index/Javascript/indexJS.js}"></script>
</head>
<body>
<div id="background"></div>
    <nav class="mainGroup" id="Professional">
        <h1 class="groupName">Professional</h1>
        <a href="/resume">
            <div class="entry">
                <span><h1>CV</h1></span>
            </div>
        </a>
        <a href="https://github.com/deji20"><div class="entry">
            <h2>Github</h2>
            <img th:src="@{/pages/index/images/Professional/github.png}"/>
        </div></a>
    </nav>
    <nav class="mainGroup" id="Projects">
        <h1 class="groupName">Projects</h1>
        <a href="/2Seconds"><div class="entry">
           <span><h1>2 Sec</h1></span>
        </div></a>
        <a href="/static/noted"><div class="entry">
            <span><h1>Noted</h1></span>
        </div></a>
    </nav>
    <nav class="mainGroup" id="contact">
        <h1 class="groupName">Contact Info</h1>
        <a href="https://www.facebook.com/deji.ehinlanwo/"><div class="entry">
            <h2>Facebook</h2>
            <img class="pic" th:src="@{/pages/index/images/Contact/Facebook.png}"/>
        </div></a>
        <a href="https://www.instagram.com/dejifraliss/"><div class="entry">
            <h2>Instagram</h2>
            <img th:src="@{/pages/index/images/Contact/instagram.png}"/>
        </div></a>
        <a href="https://www.linkedin.com/in/dejiehinlanwo/"><div class="entry">
            <h2>LinkedIn</h2>
            <img th:src="@{/pages/index/images/Contact/linkedIn.png}"/>
        </div></a>
    </nav>

    <div id="nav">
        <div class="navMark"></div>
        <div class="navMark"></div>
        <div class="navMark"></div>
    </div>
    <div class="navigation" id="up" onclick="change(-1)"><img src="globalRes/images/Assets/arrow.png"/></div>
    <div class="navigation" id="down" onclick="change(1)"><img src="globalRes/images/Assets/arrow.png"/></div>
</body>
</html>